[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
numpy = "*"
gym = "*"
stable-baselines3 = "*"
autopep8 = "*"
pyjs = {git = "https://github.com/pyjs/pyjs.git"}
transcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
